#about {
    text-align: center;
    font-family: $primary-font;
    h2 {
        font-family: $header-font;
    }
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 200px;   
    }
    .tag {
        padding: 0 10% 0 10%;
        font-size: .8em;
    }
    .currently {
        text-align: left;
        padding: 0 10% 0 10%;
        margin-bottom: 5%;
        h4 {
            margin: 0;
            font-family: $header-font;
        }
        p {
            margin-bottom: 0;
        } 
        ul {
            margin: 0;
        }
        #theatre {
            text-decoration: none;
            color: blue;
        }
    }
}

@media (min-width: 770px) {
    #about {
        @include grid-row();
        h2 {
            font-size: 35px;
        }
        .aboutLeft {
            @include grid-column(6);
            img {
                width: 250px;
            }
            p {
                font-size: 1.2em;
                padding: 0 15% 0 15%;
                font-style: italic;
            }
        }
        .currently {
            @include grid-column(6);
            h4 {
                font-size: 25px;
            }
        }
    }
}