body {
    header {
            background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(assets/mobileBckgrnd.jpg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            font-family: $header-font;
            height: 100vh;
            color: white;
            h1 {
                margin: auto;
                padding: 150px 5px 0 5px;
                font-size: 40px;
            }
            h5 {
                font-size: 20px;
                margin: auto; 
            }
            .menu {
                list-style-type: none;
                padding: 250px 0 0 0;
                bottom: 5px;
                li {
                    display: inline-block;
                    a {
                        text-align: center;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
}

@media (min-width: 770px) {
    body {
        header {
            background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(assets/desertRoad.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            font-family: $header-font;
            height: 100vh;
            h1 {
                font-size: 75px;
            }
            h5 {
                font-size: 35px;
            }
            .menu {
                padding: 25vh;
                li {
                    font-size: 25px;
                }
            }
        }
    }
}

