
@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid; 

$header-font: 'Permanent Marker', cursive;
$primary-font: 'Ubuntu', sans-serif;

@import 'header';
@import 'social';
@import 'about';
@import 'portfolio';


.button {
        padding: 8px;
        border: 5px solid #1D1160;
        background-color: #A1A1A4;
        text-decoration: none;
        color: black;
        font-family: $header-font;
}

.hide {
    display: none;
}